:root {
    --bordercolor:#342716;
    --bgcolor:#fff1E4;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: white;
    overflow-y: scroll;
    }
    ::-webkit-scrollbar-track {
       background: #fff1E4;
    border-radius: 1px;
    width: 1px;
    border: 1px solid #444040;
    }
    ::-webkit-scrollbar-thumb {
    background: #CDB693;
    border: 1px solid #444040;
    border-radius: 0px;
}

body {
color:var(--bordercolor);
background-image:url(bgindex.png);
font-family: 'MS PGothic', 'ms gothic', cambria;

}

/* background lovingly made and found at https://lovesick.cafe/sozai#bgs */

header, main {
    border:1px solid var(--bordercolor);
}

header {
    padding:10px;
    background-color:#5D3d1D;
    color:#fff1E4;
    text-align:center;
    font-family: "BIZ UDGothic", sans-serif;
}

a:link {
    color: #97510a;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(158, 112, 97);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(209, 72, 31);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(83, 25, 15);
    background-color: transparent;
    text-decoration: underline;
  }

/* sidebar */
aside {
    max-width:30%;
    min-width:20%;
    margin-top:10px;
   
}

.nav, .updates {
    border: 1px solid var(--bordercolor);
    margin-bottom:15%;
    background-color:var(--bgcolor);
    
}

.nav{
    padding:5px;
}

.updates {
    overflow:hidden;
    font-size:12px;
    max-height:fit-content;
    max-width:fit-content;
}

iframe{
overflow: auto;
max-width:100%;
max-height:100%;
border:none;
}

ul {
    padding:1px;
}

li + li {
    margin-top: 10px;
  }

li:before {
    content: "♥";
}
/* sidebar end  */

/* main section  */

.flex {
    display:flex;
    max-width:80%;
    margin:auto;
    }

main {
    max-width:100%;
    margin-left:10px;
    margin-top:10px;
    background-color:var(--bgcolor);
    display: inline-block;
}

.main {
    padding:5px;
    border-bottom: 1px solid var(--bordercolor);

}

.sillies {
    display:flex;
    
}

#status {
    border-right: 1px solid var(--bordercolor);
    padding:10px;
    max-width:50%;
}

#buttonsandstuff {
    padding:10px;
    max-height:20vh;
    min-height:10vh;
    overflow-y:scroll;
}

#buttons{
    max-height:70%;
}

/* end main */

@media only screen and (min-width: 800px) {
    .flex {
        display:flex;
        max-width:70%;
        margin:auto;
        }
  }

  @media only screen and (max-width: 500px) {
    .flex {
        display:flex;
        max-width:90%;
        margin:auto;
        }
  }

  @import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Noto+Sans+JP:wght@100..900&display=swap');