:root {
  --bg-image:url(https://64.media.tumblr.com/00921bb0c541f6dbcfd134a50c88fbdd/tumblr_inline_n1t6isdDz21qfc9y0.png);
--heading-bg:#F2E2E5;
  --header-bg:url(https://64.media.tumblr.com/701ca54a21cd1d110f4f1af33fb2dcbb/tumblr_inline_n1t6gyYI9n1qfc9y0.gif);
 --font-family: 'MS PGothic', 'Ms Gothic', monospace;
}

body {
  background-image:var(--bg-image);
  margin-left:25%;
  margin-right:25%;
  font-size:15px;
  font-family: var(--font-family);
  color:#3F2220;
  overflow-x: auto;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: white;
    overflow-y: scroll;
    }
    ::-webkit-scrollbar-track {
       background: white;
    border-radius: 0px;
    width: 0px;
    border: 1px solid pink;
    }
    ::-webkit-scrollbar-thumb {
    background: white;
    border: 1px solid pink;
    border-radius: 0px;
}
/* unvisited link */
a:link {
  color:#822B35;
}

/* visited link */
a:visited {
  color:#822B35;
}

/* mouse over link */
a:hover {
  color:#F999AF;
}
::selection {
    background: #fcdde2;
  color:#4d1a1a;
  }
/* selected link */
a:active {
  color:#F2587C;
}
header, nav{
  border:1px solid black;
}
header, nav {
  max-width:100%;
}
aside {
  max-width:200px;
  height:600px;
}
header {
  font-size:25px;
  color:#fff;
  -webkit-text-stroke:0.5px #3F2220;
  text-align:center;
  display:flex;
  justify-content: center;
  align-items: center;
  background-image:var(--header-bg);
  font-family:Fredoka One;
}
section {
  max-height:30%;
  width:100px;
  border:1px solid black;
  margin-bottom:10px;
  background-color:#fff;
  padding-left:5px;
  padding-right:5px;
  padding-top:2px;
  padding-bottom:2px;
  overflow-y:auto;
  overflow-x:hidden;
}
article { 
  max-height:60%;
  max-width:100%;
  border:1px solid black;
  margin-bottom:15px;
  background-color:#fff;
  padding:7px;
  overflow-y: auto;
  overflow-x:hidden;
  
}
.subtitle{
  border:1px solid black;
  border-bottom:1px solid black;
  background-color:var(--heading-bg);
  padding:2px;
}
.flex{
  display:flex; 
}
header{
  max-height:75px;
  height:75px;
}
nav{
  max-height:25px;
  height:25px;
  margin-top:5px;
  margin-bottom:10px;
  background-color:#fff;
}
.nav {
  margin-top:5px;
}
.nav li {
  display:flex;  
  justify-content: center;
  list-style-type:none;
}
main {
  max-height:50%;
  width:100%;
  margin-left:20px;
  margin-right:20px;
  overflow-x:hidden;
  overflow-y:hidden;
}
#changes{
  overflow: auto;
  overflow-x:hidden;
}
ul{
  padding-left:15px;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align:center;
  margin-top:auto;
}



@media only screen and (max-width: 470px) {
  body {
    margin:30px;
    font-family: 'MS PGothic', 'Ms Gothic', 'BIZ UDGothic', monospace;
  }
  main {
    width:100%;
  }
  .right-sidebar, header {
    display:none;
  }
  aside {
    width:60%;
    order:2;
  }
  .subtitle, #changes {
    display:none;
  }
}
@media only screen and (max-width: 850px) {
   body {
    margin:30px;
  }
  .right-sidebar {
    display:none;
  }
  aside {
    order:2;
  }
}
